:root {
  --md-primary-fg-color: #ffffff;
  --md-primary-bg-color: #ffffff;
  --md-accent-fg-color: #0052cc;
}

/* ======================================== 
   Theme
=========================================*/ 

/* Light mode */
[data-md-color-scheme="default"] {
  --custom-heading-color: #000000;
}

/* Dark mode */
[data-md-color-scheme="slate"] {
  --custom-heading-color: #ffffff;
}

/* ======================================== 
   Navbar and TOC
=========================================*/ 

/* Base style */
.md-nav__item .md-nav__link {
  color: #c0c0c0;
  font-size: 13px;              
  font-weight: 400;
}

/* Active link */
.md-nav__item .md-nav__link--active {
  color: #1a73e8;
  font-size: 13px;              
  font-weight: 500;
}

/* Hover */
.md-nav__item .md-nav__link:hover {
  color: #333333;
}

/* ======================================== 
   Markdown
=========================================*/ 

body,
.md-typeset,
.md-nav__link,
.md-nav--secondary .md-nav__link {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.md-typeset h1 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.md-typeset h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.md-typeset h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.md-typeset p {
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  color: var(--custom-heading-color);
}

[dir=ltr] .md-typeset ol, [dir=ltr] .md-typeset ul {
  margin-left: 0;
}

[dir=ltr] .md-typeset ol li, [dir=ltr] .md-typeset ul li {
    margin-left: 1rem;
}

ul, ol {
  margin-left: 0;
  padding-left: 0;
}

/* Codeblocks: Wrap */
.md-typeset pre {
  padding-left: 1rem;
  padding-right: 1rem;
}

.md-typeset pre,
.md-typeset pre code {
  background: #f8f9fa;
  border-radius: 6px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

/* ======================================== 
   Custom Text
=========================================*/ 

mark {
  background-color: transparent; 
  color: darkred;
  font-size: inherit;
  font-weight: normal;
  display: inline;
  margin: 0;
}